<html>
  <head>
    <title>NWANNA SOPURUCHUKWU NELSON 18CJ024135 DATA VISUALIZATION ASSIGNMENT</title>

    <!-- <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/main.css') }}"> -->

  </head>
  <body>
      <h1 align="center">Percentage of people working more than 45hrs per week in Africa </h1>

    <div class="cell">
        <p class="main-text" style="font-size:18px; color:black; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
           This Bar plots below show the Percentage of people working more than 45hrs per week in Africa from the
           year 1998-2007
        </p>
<br/><br/>
        <img src='static/img/output.png' width="45%" title="2007">
<!-- <br/><br/> -->
        <img src='static/img/output2.png' width="45%" title="2006">
<br/><br/>
        <img src='static/img/output3.png' width="45%" title="2005">
<!-- <br/><br/> -->
        <img src='static/img/output4.png' width="45%" title="2004">
<br/><br/>
        <img src='static/img/output5.png' width="45%" title="2003">
<!-- <br/><br/> -->
        <img src='static/img/output6.png' width="45%" title="2002">
<br/><br/>
        <img src='static/img/output7.png' width="45%" title="2001">
<!-- <br/><br/> -->
        <img src='static/img/output8.png' width="45%" title="2000">
<br/><br/>
        <img src='static/img/output9.png' width="45%" title="1999">
<!-- <br/><br/> -->
        <img src='static/img/output10.png' width="45%" title="1998">
<br/><br/>

      </div>


      <div  class="cell">
        <p class="main-text" style="font-size:18px; color:black; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
          This line graph shows the percentage of ppeople working more than 40hrs per weeek in NIGERIA
        </p>
<br/><br/>
       <img src='static/img/output11.png' width="45%" >

      </div>


 <div  class="cell">
        <p class="main-text" style="font-size:18px; color:black; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
           The line graph below shows the average working hours of African Countries
        </p>
<br/>
       <img src='static/img/output12.png' width="70%">

      </div>


      <div  class="cell">
        <p class="main-text" style="font-size:18px; color:black; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            The following  bar graphs show below the different measures of mean, standard deviation, median respectively
        </p>
<br/>
       <img src='static/img/output13.png' width="30%">
       <br>
       <img src='static/img/output14.png' width="30%">
       <br>
       <img src='static/img/output15.png' width="30%">

      </div>

      <div  class="cell">
              <br>
        <p class="main-text" style="font-size:18px; color:black; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            We can also decide to visualize interquartile ranges with the help of a line graph. 
            The diagram below helps us understand its structure.
        </p>
        <img src='static/img/output16.png' width="30%">

      </div>

  </body>
</html>
